body{
  background-color: #fff;
  overflow-x: hidden;
}
.kepala{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-left: 10px;
}
.navbar {
    background-color: rgb(0, 0, 0, 0.6);
    border-bottom: 1px solid black;
position: fixed !important;
z-index: 1000;
top: 0 ;
width: 100%;
transition: 0.5s;

  }
  
  .navbar a{
    color: #fff;
    font-family:" Bona Nova SC", serif;
    font-size: 30px}
  .navbar-brand {
    margin-left: 20px;
  }
  
  .navbar.closed {
    transition: 2s;
    top: -1600px;
  }

  .nav-link {
    text-align: center;
    margin-left: 200px;
  }
  .to{
    margin-left: -240px;
  }
.ot a:hover{
  background-color: gray;
}
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
  }
  
  .dropdown a:hover{
  color: black;  
  }
  
  .logo{
    transition: 0.2s;
  }
  .logo:hover{
    fill: black;
  }
.img-fluid{
  margin-top: 250px;
  margin-left: 220px;
}

video{
height: 600px;
width: 900px;
margin-top: 70px;
}
.piece{
  height: 150px;
  background-color: orange;
  font-family: "Lobster", sans-serif;

}
.piece2{
  height: 150px;
  background-color: orange;
  font-family: "Lobster", sans-serif;
margin-top: 250px;
}
.d31{
  width: 400px;
  height: 500px;
  margin-top: 10px;
  margin-left: 1000px;
}
.d32{
  width: 400px;
  height: 500px;
  margin-top: 10px;
  margin-left: 30px;
}